a.article-title:link { color: #404040; }
a.article-title:visited { color: #404040; }
a.article-title:hover { color: #404040; }
a.comments:link { color:white; }
a.comments:visited { color:white; }
a.comments:hover { color:white; }
